<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    
       <!--<link rel="stylesheet" type="text/css" href="style.css" /> -->
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
       <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	   <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
       
        <title> Home </title>
        
    </head>
      
<style>  
 
	body {
		padding-bottom: 40px;
		background-color:cornflowerblue;
	}
			

 h1{
   font-family: 'Roboto', sans-serif;
   font-size: 5em;
  } 
  
  .bleu{
      color:blue;
    }
    .rouge{
     color:red
    }
    .jaune{
      color : yellow;
    }
    .vert{
      color:green;
     }
	
</style> 
      
     
 <body>            
		   <nav class="navbar navbar-inverse navbar-fixed-top">
				  <div class="container-fluid">
			        <div class="navbar-header">
				          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					            <span class="sr-only">Toggle navigation</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				          </button>
				          
			                <a class="navbar-brand" href="#">User registration</a>
			                <a class="navbar-brand" href="#">Accueil</a>
					
							<div class="container">
							          <div id="navbar" class="navbar-collapse collapse">
								           <ul class="nav navbar-nav navbar-right">
									            <li><a href="/login">LOGIN</a></li>
									            <li><a href="/form_register">REGISTER</a></li>
									            <li><a href="/list_users">LIST OF USER</a></li>
									             <li class="help">
									              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
									                 aria-expanded="false">HELP <span class="caret"></span></a>
									              <ul class="dropdown-menu">
									                <li><a href="#">Action</a></li>
									                <li><a href="#">Another action</a></li>
									                <li><a href="#">Something else here</a></li>
									                <li role="separator" class="divider"></li>
									                <li><a href="#">Separated link</a></li>
									                <li><a href="#">One more separated link</a></li>
									              </ul>
									            </li>
						                   </ul>
								    </div>
						      </div>
						      
					</div>
					  
			   </nav>  
			   <div class="container text-center"  role="main">
                <div class="jumbotron">
                  <h1>
			       <span class="bleu"><strong> W </strong></span>
			       <span class="rouge"><strong>E </strong></span>
			       <span class="jaune"><strong>L </strong></span>
			       <span class="vert"><strong>C </strong></span>
			       <span class="bleu"><strong>O </strong></span> 
			       <span class="rouge"><strong>M </strong></span>
			       <span class="jaune"><strong>E </strong></span>
			       	      
			      </h1>
                    
		          <marquee behavior="alternate" >
                       <strong>Ce site permet à un utilisateur de se connecter, 
                              mais bien avant il doit être enregistré sur le site, il peut aussi voir la liste 
                              de tous les utilisateurs qui ont aumoins une fois connecté à ce site                       
                        </strong>
                  </marquee>
		           
              </div >
			   	      
		   </div>   
		   
		       <div class="container"> 
			   <marquee behavior="alternate">
			       <img src="https://i.goopics.net/kn9pe.jpg"  width="500" height="400"/>  
			   </marquee>
		       </div>
		      
		       <hr>
		      <div class="row align-items-md-stretch">
			      <div class="container">
				        <div class="col-6 col-sm-4">
				          <h2><strong> Spring MVC </strong></h2>
				          <p> Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, 
				              mix and match with additional component themes and more.
				           </p>
				          <button class="btn btn-outline-light" type="button">Example button</button>
				        </div>
			      
			      
			        <div class="col-6 col-sm-4">
				          <h3><strong> Spring Themeleaf </strong></h3>
				            <p> Or, keep it light and add a border for some added definition to the boundaries of your content. 
				             Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing 
				             of both column's content for equal-height.
				            </p> 
				              <button class="btn btn-outline-secondary" type="button">Example button</button>
			          </div>
			      
			           <div class="col-6 col-sm-4">
				          <h4><strong> Spring Security </strong></h4>
				           <p> Or, keep it light and add a border for some added definition to the boundaries of your content. 
				               Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing 
				               of both column's content for equal-height.
				          </p>
				            <button class="btn btn-outline-secondary" type="button">Example button</button>
			          </div> 
			      </div>
			       
		       </div>      
                 
                 
 </body>   
</html>
